body {
    width: 1280;
    background-color: powderblue;
}

#top {
    display: block;
    height: 100;
    text-align: center;
}

#leftmargin {
    display: inline-block;
    width: 400px;
    border-right: 1px black
}

#content {
    display: inline-block;
    margin-left: 400px;
}

#bottom {
    display: block;
    text-align: center;
}

